In [1]:
from pyspark.sql import *
import pandas as pd

In [2]:
spark = SparkSession\
            .builder\
            .appName("test-app")\
            .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/05/13 17:25:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = spark.read.csv("./data/users.csv", 
                            header="true", 
                            inferSchema="true")

df.createOrReplaceTempView("users")

In [4]:
sql = """
SELECT gender, AVG(age) as average_age
FROM users
GROUP BY gender
"""
query = spark.sql(sql)
query.toPandas()

   gender  average_age
0  female    48.500000
1    male    45.666667